<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. by MangoPlanet All Pictures cannot be copied without permission.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="parse">

    <select id = "getParsePattern" parameterType="String" resultType="com.enliple.crawler.parse.domain.ParsePattern">
      SELECT
            sc_code             AS scCode,
            shop_type           AS shopType,
            productlist_pattern AS productListPattern,
            title_pattern       AS titlePattern,
            url_pattern         AS urlPattern,
            imgurl_pattern      AS imgUrlPattern,
            price_pattern       AS pricePattern,
            originprice_pattern AS originPricePattern,
            saleCheck_pattern   AS saleCheckPattern,
            productCode_pattern AS productCodePattern,
            urlformat           AS urlFormat,
            page_pattern        AS pagePattern,
            soldout_msg         AS soldOutMsg,
            filter_msg          AS filterMsg
        FROM ms_parsing_pattern
        WHERE sc_code =  #{scCode};
    </select>

    <update id = "updateShopParseDate" parameterType="String">
      UPDATE ms_shop SET parsing_date = NOW() WHERE sc_code = #{scCode}
    </update>

    <select id = "getParsingInfoList" parameterType = "String" resultType="com.enliple.crawler.parse.domain.ParsingInfo">
        SELECT
            mpi.url,
            mpi.mobile_url          AS mobileUrl,
            mpi.category_code       AS categoryCode,
            mpi.pcode               AS pCode,
            mpi.tobe_sc_code        AS scCode,
            mpi.site_name           AS shopName,
            mpi.category_match_code AS categoryMatchCode,
            ms.site_etc             AS siteETC,
            '2'                      AS imageTransform,
            'cafe24'                      AS shopType,
            ''                      AS imageWidth,
            ''                      AS imageHeight
        FROM ms_parsing_info mpi, ms_shop ms
        WHERE mpi.tobe_sc_code = #{scCode}
             AND mpi.tobe_sc_code = ms.sc_code
    </select>

    <insert id = "insertProduct" parameterType = "com.enliple.crawler.parse.domain.Product">
        INSERT INTO ms_goods(
        pcode, sc_code, category, sitename, title,
        image1, image2, image3, image4, image5, image6,
        orgprice, price, dc_rate, url, regdate, updatedate, display,
        width, height )
        VALUES
        (
        #{pCode}, #{scCode}, #{category}, #{siteName}, #{title},
        #{image1}, #{image2}, #{image3}, #{image4}, #{image5}, #{image6},
        #{orgPrice}, #{price}, #{dcRate}, #{url}, NOW(), NOW(), #{display},
        <choose>
            <when test="width == null">
                '0',
            </when>
            <otherwise>
                #{width},
            </otherwise>
        </choose>
        <choose>
            <when test="height == null">
                '0'
            </when>
            <otherwise>
                #{height}
            </otherwise>
        </choose>
        )
    </insert>

    <update id = "updateProduct" parameterType="com.enliple.crawler.parse.domain.Product">
        UPDATE ms_goods SET
        category = #{category}, title = #{title}, sitename = #{siteName},
        image1 = #{image1}, image2 = #{image2}, image3 = #{image3},
        image4 = #{image4}, image5 = #{image5}, image6 = #{image6},
        orgprice = #{orgPrice}, price = #{price}, dc_rate = #{dcRate},
        url = #{url}, updatedate = NOW(), display = #{display},
        <choose>
            <when test="width == null">
                width = '0',
            </when>
            <otherwise>
                width = #{width},
            </otherwise>
        </choose>
        <choose>
            <when test="height == null">
                height = '0'
            </when>
            <otherwise>
                height = #{height}
            </otherwise>
        </choose>
        WHERE gscd = #{gsCd} AND sc_code = #{scCode}
    </update>

    <insert id = "insertProductList" parameterType="java.util.List">
        INSERT INTO ms_goods(
        pcode, sc_code, category, sitename, title,
        image1, image2, image3, image4, image5, image6,
        orgprice, price, dc_rate, url, regdate, updatedate, display,
        width, height )
        VALUES
        <foreach collection="list" index="index" item="item" separator="," >
            (
            #{item.pCode}, #{item.scCode}, #{item.category}, #{item.siteName}, #{item.title},
            #{item.image1}, #{item.image2}, #{item.image3}, #{item.image4}, #{item.image5}, #{item.image6},
            #{item.orgPrice}, #{item.price}, #{item.dcRate}, #{item.url}, NOW(), NOW(), #{item.display},
            <choose>
                <when test="item.width == null">
                    '0',
                </when>
                <otherwise>
                    #{item.width},
                </otherwise>
            </choose>
            <choose>
                <when test="item.height == null">
                    '0'
                </when>
                <otherwise>
                    #{item.height}
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <update id="updateProductList" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";" >
            UPDATE ms_goods SET
            category = #{item.category}, title = #{item.title}, sitename = #{item.siteName},
            image1 = #{item.image1}, image2 = #{item.image2}, image3 = #{item.image3},
            image4 = #{item.image4}, image5 = #{item.image5}, image6 = #{item.image6},
            orgprice = #{item.orgPrice}, price = #{item.price}, dc_rate = #{item.dcRate},
            url = #{item.url}, updatedate = NOW(), display = #{item.display},
            <choose>
                <when test="item.width == null">
                    width = '0',
                </when>
                <otherwise>
                    width = #{item.width},
                </otherwise>
            </choose>
            <choose>
                <when test="item.height == null">
                    height = '0'
                </when>
                <otherwise>
                    height = #{item.height}
                </otherwise>
            </choose>
            WHERE gscd = #{item.gsCd} AND sc_code = #{item.scCode}
        </foreach>
    </update>

    <select id ="getProduct" parameterType="com.enliple.crawler.parse.domain.Product" resultType="com.enliple.crawler.parse.domain.Product">
      SELECT gsCd, category FROM ms_goods
		WHERE sc_code = #{scCode}
	  AND pcode = #{pCode}
    </select>

    <update id = "updateNoRenewalProduct" parameterType="Map">
        UPDATE ms_goods SET display ='0'
          WHERE sc_code = #{scCode}
        <![CDATA[
        AND updatedate <= DATE_FORMAT(DATE_SUB(NOW(), INTERVAL #{soldOutPeriod} DAY), '%Y-%m-%d')
        ]]>
    </update>

</mapper>