<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. by MangoPlanet All Pictures cannot be copied without permission.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="parse">
    <select id="selectParsingInfoList" parameterType="com.enliple.crawler.job.domain.ParseJob" resultType="com.enliple.crawler.parse.domain.ParsingInfo">
        SELECT
          category_code       AS categoryCode,
          category_match_code AS categoryMatchCode
        FROM ms_parsing_info
        WHERE shop_no = #{scCode}
    </select>

    <select id="selectParsePattern" parameterType="com.enliple.crawler.job.domain.ParseJob" resultType="com.enliple.crawler.parse.domain.ParsePattern">
        SELECT
           shop_type as shopType
         , productlist_pattern as productListPattern
         , title_pattern as titlePattern
         , url_pattern as urlPattern
         , img_url_pattern as umgUrlPattern
         , price_pattern as pricePattern
         , orgprice_pattern as orgPricePattern
         , sale_check_pattern as saleCheckPattern
         , page_pattern as pagePattern
         , sc_code as scCode
         , filterstring as filterString
         , url_format as urlFormat
         , soldout_msg as soldOutMsg
         , pCode_pattern as pCodePattern
          FROM ms_shop_info WHERE sc_code = #{scCode}
    </select>

    <select id="selectShopInfo" parameterType="com.enliple.crawler.job.domain.ParseJob" resultType="com.enliple.crawler.parse.domain.ShopInfo">
      SELECT
         shop_name as siteName
       , shop_url as shopUrl
       , site_etc as siteEtc
       FROM ms_shop
       WHERE sc_code = #{scCode}
    </select>

    <insert id="insertProductList" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="gscd" keyColumn="gscd">
      INSERT INTO ms_goods
          (shop_no, sc_code, shop_name, pcode, category, title,
          image, orgprice, price, dc_rate, url, display, soldout ) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
          ( #{item.shopNo}, #{item.scCode}, #{item.shopName}, #{item.pCode}, #{item.category}, #{item.title},
            #{item.image}, #{item.orgPrice}, #{item.price}, #{item.dcRate}, #{item.url}, #{item.display}, #{item.soldout} )
        </foreach>
    </insert>

    <insert id="insertMsGoodsCateList" parameterType="java.util.List">

    </insert>

    <select id="selectMsGoods" parameterType="com.enliple.crawler.parse.domain.Product" resultType="com.enliple.crawler.parse.domain.Product">
      SELECT
          gscd
        , sc_code as scCode
        , pcode as pCode
        , category as category
      FROM ms_goods
      WHERE sc_code = #{scCode} AND pcode = #{pCode}
    </select>

    <insert id="insertMsGoodsCate" parameterType="com.enliple.crawler.parse.domain.Product">

    </insert>

    <select id="selectCategoryFromMsGoodsCate" parameterType="com.enliple.crawler.parse.domain.Product" resultType="String">

    </select>

    <update id="updateProductList" parameterType="java.util.List">

    </update>

    <delete id="deleteProductColorList" parameterType="java.util.List">
        DELETE FROM ms_goods_size_color where gscd IN (
        <foreach collection="list" index="index" item="item" separator="," >
            #{item.gscd}
        </foreach>
        )
    </delete>

    <insert id="insertProductColorList" parameterType="java.util.List">
        INSERT INTO ms_goods_size_color (gscd, size, color) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            ( #{item.gscd}, #{item.size}, #{item.color} )
        </foreach>
    </insert>
</mapper>