<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. by MangoPlanet All Pictures cannot be copied without permission.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="task">
    <select id="selectParseTask" resultType="com.enliple.crawler.task.domain.ParseTask">
      SELECT
        sc_code AS scCode,
        state
        FROM ms_parsing_queue
      WHERE state = '0'
      ORDER BY priority ASC
    </select>

    <update id="updateParseTask" parameterType="com.enliple.crawler.task.domain.ParseTask">
        UPDATE ms_parsing_queue SET state = #{state} WHERE sc_code = #{scCode}
    </update>

    <delete id="deleteParseTask" parameterType="com.enliple.crawler.task.domain.ParseTask">
        DELETE FROM ms_parsing_queue WHERE sc_code = #{scCode}
    </delete>

    <select id="getCurrentWorkingTaskCount" resultType="String">
      SELECT count(1) FROM ms_parsing_queue WHERE state IN ('1', '3')
    </select>
</mapper>